.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: chartreuse;
  border: none;
  padding: 10px 20px;
  color: white;
}